.image-bg {
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	opacity: 1;
	display: block;
	position: absolute;
	top: 0;
	overflow: hidden;
}
.image-bg .inner {
	width: 100%;
	height: 100%;
}
.bg {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-image: url(../../img/traffic2.jpg);
	background-position: center;
}
.video-bg {
	width: 100%;
	height: 100%;
	opacity: 1;
	display: block;
	position: absolute;
	top: 0;
	overflow: hidden;
	transition: all .5s linear 0s;
}
.video-bg .inner {
	width: 100%;
	height: 100%;
}
video {
	min-width: 100%;
	min-height: 100%;
}